<!-- <h1>New Digit Recognizer</h1> -->

<%= render 'form', digit_recognizer: @digit_recognizer %>
<div class="text-center">
<%= link_to 'Back', digit_recognizers_path %>
</div>

<div style='color:white'>
  <h1>By Dillon Cortez</h1>
  <h2>Slack: GrandMasterSpock</h2>
</div>
